<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csy.mapper.Gd11x5ProperyMapper" >
  <resultMap id="BaseResultMap" type="com.csy.domain.Gd11x5Propery" >
    <id column="sKey" property="sKey" jdbcType="VARCHAR" />
    <result column="sSum" property="sSum" jdbcType="INTEGER" />
    <result column="sBigSmall" property="sBigSmall" jdbcType="VARCHAR" />
    <result column="sSingleDouble" property="sSingleDouble" jdbcType="VARCHAR" />
    <result column="sDragonTiger" property="sDragonTiger" jdbcType="VARCHAR" />
    <result column="sTopThree" property="sTopThree" jdbcType="VARCHAR" />
    <result column="sMiddleThree" property="sMiddleThree" jdbcType="VARCHAR" />
    <result column="sPostThree" property="sPostThree" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sKey, sSum, sBigSmall, sSingleDouble, sDragonTiger, sTopThree, sMiddleThree, sPostThree
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_gd11x5_propery
    where sKey = #{sKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_gd11x5_propery
    where sKey = #{sKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.csy.domain.Gd11x5Propery" >
    insert into t_gd11x5_propery (sKey, sSum, sBigSmall, 
      sSingleDouble, sDragonTiger, sTopThree, 
      sMiddleThree, sPostThree)
    values (#{sKey,jdbcType=VARCHAR}, #{sSum,jdbcType=INTEGER}, #{sBigSmall,jdbcType=VARCHAR}, 
      #{sSingleDouble,jdbcType=VARCHAR}, #{sDragonTiger,jdbcType=VARCHAR}, #{sTopThree,jdbcType=VARCHAR}, 
      #{sMiddleThree,jdbcType=VARCHAR}, #{sPostThree,jdbcType=VARCHAR})
  </insert>
  <insert id="saveOrUpdate" parameterType="com.csy.domain.Gd11x5Propery" >
    insert into t_gd11x5_propery (sKey, sSum, sBigSmall, 
      sSingleDouble, sDragonTiger, sTopThree, 
      sMiddleThree, sPostThree)
    values (#{sKey,jdbcType=VARCHAR}, #{sSum,jdbcType=INTEGER}, #{sBigSmall,jdbcType=VARCHAR}, 
      #{sSingleDouble,jdbcType=VARCHAR}, #{sDragonTiger,jdbcType=VARCHAR}, #{sTopThree,jdbcType=VARCHAR}, 
      #{sMiddleThree,jdbcType=VARCHAR}, #{sPostThree,jdbcType=VARCHAR})
      ON DUPLICATE KEY UPDATE
      	sKey = #{sKey,jdbcType=VARCHAR}
  </insert>
  <insert id="insertSelective" parameterType="com.csy.domain.Gd11x5Propery" >
    insert into t_gd11x5_propery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sKey != null" >
        sKey,
      </if>
      <if test="sSum != null" >
        sSum,
      </if>
      <if test="sBigSmall != null" >
        sBigSmall,
      </if>
      <if test="sSingleDouble != null" >
        sSingleDouble,
      </if>
      <if test="sDragonTiger != null" >
        sDragonTiger,
      </if>
      <if test="sTopThree != null" >
        sTopThree,
      </if>
      <if test="sMiddleThree != null" >
        sMiddleThree,
      </if>
      <if test="sPostThree != null" >
        sPostThree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sKey != null" >
        #{sKey,jdbcType=VARCHAR},
      </if>
      <if test="sSum != null" >
        #{sSum,jdbcType=INTEGER},
      </if>
      <if test="sBigSmall != null" >
        #{sBigSmall,jdbcType=VARCHAR},
      </if>
      <if test="sSingleDouble != null" >
        #{sSingleDouble,jdbcType=VARCHAR},
      </if>
      <if test="sDragonTiger != null" >
        #{sDragonTiger,jdbcType=VARCHAR},
      </if>
      <if test="sTopThree != null" >
        #{sTopThree,jdbcType=VARCHAR},
      </if>
      <if test="sMiddleThree != null" >
        #{sMiddleThree,jdbcType=VARCHAR},
      </if>
      <if test="sPostThree != null" >
        #{sPostThree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csy.domain.Gd11x5Propery" >
    update t_gd11x5_propery
    <set >
      <if test="sSum != null" >
        sSum = #{sSum,jdbcType=INTEGER},
      </if>
      <if test="sBigSmall != null" >
        sBigSmall = #{sBigSmall,jdbcType=VARCHAR},
      </if>
      <if test="sSingleDouble != null" >
        sSingleDouble = #{sSingleDouble,jdbcType=VARCHAR},
      </if>
      <if test="sDragonTiger != null" >
        sDragonTiger = #{sDragonTiger,jdbcType=VARCHAR},
      </if>
      <if test="sTopThree != null" >
        sTopThree = #{sTopThree,jdbcType=VARCHAR},
      </if>
      <if test="sMiddleThree != null" >
        sMiddleThree = #{sMiddleThree,jdbcType=VARCHAR},
      </if>
      <if test="sPostThree != null" >
        sPostThree = #{sPostThree,jdbcType=VARCHAR},
      </if>
    </set>
    where sKey = #{sKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csy.domain.Gd11x5Propery" >
    update t_gd11x5_propery
    set sSum = #{sSum,jdbcType=INTEGER},
      sBigSmall = #{sBigSmall,jdbcType=VARCHAR},
      sSingleDouble = #{sSingleDouble,jdbcType=VARCHAR},
      sDragonTiger = #{sDragonTiger,jdbcType=VARCHAR},
      sTopThree = #{sTopThree,jdbcType=VARCHAR},
      sMiddleThree = #{sMiddleThree,jdbcType=VARCHAR},
      sPostThree = #{sPostThree,jdbcType=VARCHAR}
    where sKey = #{sKey,jdbcType=VARCHAR}
  </update>
</mapper>