<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csy.mapper.ShsslProperyMapper" >
  <resultMap id="BaseResultMap" type="com.csy.domain.ShsslPropery" >
    <id column="sKey" property="sKey" jdbcType="VARCHAR" />
    <result column="sSum" property="sSum" jdbcType="INTEGER" />
    <result column="sBigSmall" property="sBigSmall" jdbcType="VARCHAR" />
    <result column="sSingleDouble" property="sSingleDouble" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sKey, sSum, sBigSmall, sSingleDouble
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_shssl_propery
    where sKey = #{sKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_shssl_propery
    where sKey = #{sKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.csy.domain.ShsslPropery" >
    insert into t_shssl_propery (sKey, sSum, sBigSmall, 
      sSingleDouble)
    values (#{sKey,jdbcType=VARCHAR}, #{sSum,jdbcType=INTEGER}, #{sBigSmall,jdbcType=VARCHAR}, 
      #{sSingleDouble,jdbcType=VARCHAR})
  </insert>
  <insert id="saveOrUpdate" parameterType="com.csy.domain.ShsslPropery" >
    insert into t_shssl_propery (sKey, sSum, sBigSmall, 
      sSingleDouble)
    values (#{sKey,jdbcType=VARCHAR}, #{sSum,jdbcType=INTEGER}, #{sBigSmall,jdbcType=VARCHAR}, 
      #{sSingleDouble,jdbcType=VARCHAR})
      ON DUPLICATE KEY UPDATE
      	sKey = #{sKey,jdbcType=VARCHAR}
  </insert>
  <insert id="insertSelective" parameterType="com.csy.domain.ShsslPropery" >
    insert into t_shssl_propery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sKey != null" >
        sKey,
      </if>
      <if test="sSum != null" >
        sSum,
      </if>
      <if test="sBigSmall != null" >
        sBigSmall,
      </if>
      <if test="sSingleDouble != null" >
        sSingleDouble,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sKey != null" >
        #{sKey,jdbcType=VARCHAR},
      </if>
      <if test="sSum != null" >
        #{sSum,jdbcType=INTEGER},
      </if>
      <if test="sBigSmall != null" >
        #{sBigSmall,jdbcType=VARCHAR},
      </if>
      <if test="sSingleDouble != null" >
        #{sSingleDouble,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csy.domain.ShsslPropery" >
    update t_shssl_propery
    <set >
      <if test="sSum != null" >
        sSum = #{sSum,jdbcType=INTEGER},
      </if>
      <if test="sBigSmall != null" >
        sBigSmall = #{sBigSmall,jdbcType=VARCHAR},
      </if>
      <if test="sSingleDouble != null" >
        sSingleDouble = #{sSingleDouble,jdbcType=VARCHAR},
      </if>
    </set>
    where sKey = #{sKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csy.domain.ShsslPropery" >
    update t_shssl_propery
    set sSum = #{sSum,jdbcType=INTEGER},
      sBigSmall = #{sBigSmall,jdbcType=VARCHAR},
      sSingleDouble = #{sSingleDouble,jdbcType=VARCHAR}
    where sKey = #{sKey,jdbcType=VARCHAR}
  </update>
</mapper>